:root {
    --bright-purple: #48127e;
    --off-white: #f5f0fd;
    --grey: #b3b3b3;
    --black: #070707;
    --dark-purple: #290069;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: var(--off-white);
}

::-webkit-scrollbar-thumb {
  background: var(--bright-purple);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-purple);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 1000px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background: 
        radial-gradient(ellipse at left bottom, var(--grey) 0%, transparent 45%) left bottom,
        radial-gradient(ellipse at right top, var(--off-white) 0%, transparent 45%) right top,
        radial-gradient(circle at right bottom, var(--dark-purple) 30%, transparent 70%) right bottom,
        radial-gradient(circle at left top, var(--bright-purple) 50%, var(--dark-purple) 100%) left top;
    background-size: 120% 120%;

    -webkit-animation: AnimationName 10s ease-in-out infinite;
    -moz-animation: AnimationName 10s ease-in-out infinite;
    animation: AnimationName 10s ease-in-out infinite;
}

 @-webkit-keyframes AnimationName {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes AnimationName {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}

.feed {
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    margin-left: -20px;
}

.navbar > button > svg {
    margin: -30px;
    color: var(--off-white);
    width: 100px;
    fill: var(--off-white);
    transition: all 0.2s ease-in-out;
    background: radial-gradient(circle at center, var(--offwhite) 0%, transparent 0%);
}

.navbar > button > svg:hover {
    fill: var(--grey);
}

.navbar > button {
    margin: 20px;
    border: none;
    outline: none;
    font-size: 18pt;
    cursor: pointer;
}

.menu {
    color: var(--off-white);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.menu:hover {
    color: var(--grey);
}

.contato {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--off-white);
    color: var(--bright-purple);
    transition: all 0.2s ease-in-out;
}

.contato:hover {
    background-color: var(--dark-purple);
    color: var(--off-white);
}

.home {
    width: 100%;
    display: flex;
}

.leftHome {
    width: 50%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftHome > h1 {
    font-size: 5dvw;
    padding-right: 200px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 110px;
    color: var(--off-white);
    letter-spacing: -2px;
    word-spacing: -2px;
}

.leftHome > h4 {
    font-size: 20pt;
    font-weight: 200;
    padding-right: 200px;
    margin: 0;
    color: var(--off-white);
}

.rightHome {
    width: 50%;
    height: 650px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.rightHome > img {
    width: 500px;
}

.fazemos{
    width: 125%;
    height: 1000px;
    margin-top: 100px;
    background-color: var(--off-white);
    border-radius: 60px;
    display: flex;
}

.leftfazemos {
    margin-top: -80px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
}

.leftfazemos > h1 {
    font-size: 100px;
    color: var(--bright-purple);
    font-weight: 400;
    margin: 0;
}
.leftfazemos > h2 {
    font-size: 100px;
    color: var(--bright-purple);
    font-weight: 600;
    margin: 0;
}

.rightfazemos {
    margin-top: -80px;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}

.opcoes {
    max-width: 100%;
    display: flex;
    margin: 0;
}

.opcoes:hover > p {
    color: var(--dark-purple)
}

.opcoes:hover > button {
    transform: translateX(475px)
}

.opcoes > p {
    color: var(--grey);
    font-size: 30pt;
    font-weight: 200;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.opcoes > button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    align-self: center;
    position: absolute;
    transition: all 0.1s ease-in-out;
    transform: translateX(470px);
}

.opcoes > button > svg {
    width: 30px;
    height: 30px;
    color: var(--dark-purple);
}

.rightfazemos > hr {
    margin: 0;
    width: 500px;
    color: var(--dark-purple);
}

.cases {
    width: 125%;
    height: 1000px;
    margin-top: -100px;
    background-color: var(--bright-purple);
    border-radius: 60px;
    display: flex;
}

.leftcases {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 220px;
    margin-top: -80px;
}

.leftcases > p {
    color: var(--off-white);
    margin: 0;
}

.leftcases > h1 {
    color: var(--off-white);
    font-size: 80pt;
    margin: 0;
    font-weight: 600;
}

.rightcases {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 220px;
    margin-top: -80px;
}

.case1 {
    width: 400px;
    height: 400px;
    background-color: #290069;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
    transform: translate(200px,40px);
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.case2 {
    width: 400px;
    height: 400px;
    background-color: #290069;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
    transform: translate(100px,-40px);
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.case3 {
    width: 400px;
    height: 400px;
    background-color: #290069;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
    transform: translate(0px,0px);
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.case4 {
    width: 400px;
    height: 400px;
    background-color: #290069;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: -40px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
    transform: translate(-100px,-80px);
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.case4:hover {
    width: 410px;
    height: 410px;
}

.case4 > h2 {
    padding-left: 30px;
    color: var(--off-white);
    font-weight: 400;
    margin: 0;
}

.case4 > h1 {
    padding-left: 30px;
    padding-bottom: 30px;
    color: var(--off-white);
    font-weight: 600;
    margin: 0;
}

.case3:hover {
    width: 410px;
    height: 410px;
    z-index: 1;
}

.case3 > h2 {
    padding-left: 30px;
    color: var(--off-white);
    font-weight: 400;
    margin: 0;
}

.case3 > h1 {
    padding-left: 30px;
    padding-bottom: 30px;
    color: var(--off-white);
    font-weight: 600;
    margin: 0;
}

.case2:hover {
    width: 410px;
    height: 410px;
    z-index: 1;
}

.case2 > h2 {
    padding-left: 30px;
    color: var(--off-white);
    font-weight: 400;
    margin: 0;
}

.case2 > h1 {
    padding-left: 30px;
    padding-bottom: 30px;
    color: var(--off-white);
    font-weight: 600;
    margin: 0;
}

.case1:hover {
    width: 410px;
    height: 410px;
    z-index: 1;
}

.case1 > h2 {
    padding-left: 30px;
    color: var(--off-white);
    font-weight: 400;
    margin: 0;
}

.case1 > h1 {
    padding-left: 30px;
    padding-bottom: 30px;
    color: var(--off-white);
    font-weight: 600;
    margin: 0;
}

.marcas {
    width: 125%;
    height: 1000px;
    margin-top: -100px;
    background-color: var(--off-white);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftmarcas {
    width: 40%;
    height: 100%;
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightmarcas {
    width: 60%;
    height: 100%;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 180px;
}

.rightmarcas > div > div {
    margin: 20px;
    width: 300px;
    height: 150px;
    background-color: var(--grey);
}

.leftmarcas > h1 {
    color: var(--bright-purple);
    font-size: 60pt;
    margin: 0;
    font-weight: 400;
}

.scrollmenu {
    transform: translate(45vw,40vh);
    position: fixed;
}

.scroll {
    width: 10px;
    height: 25px;
    background-color: var(--dark-purple);
    position: fixed;
    border-radius: 5px;
    transform: translate(45vw,40vh);
    transition: all 0.3s ease-in-out;
}

.scrollmenu > div {
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dark-purple);
}

.entrarcontato {
    width: 125%;
    height: 1000px;
    border-radius: 60px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
        radial-gradient(ellipse at right top, var(--dark-purple) 20%, var(--bright-purple) 40%, transparent 70%) right top,
        linear-gradient(to right, var(--dark-purple) 0%, var(--bright-purple) 40%, transparent 60%) left,
        radial-gradient(ellipse at right bottom, var(--grey) 0%, var(--bright-purple) 100%) right bottom;
    background-size: 120% 120%;

    -webkit-animation: AnimationName 10s ease-in-out infinite;
    -moz-animation: AnimationName 10s ease-in-out infinite;
    animation: AnimationName 10s ease-in-out infinite;
}

.entrarcontato > div {
    width: 60%;
    height: 60%;
    margin-top: -80px;
}

.entrarcontato > div > h1 {
    color: var(--off-white);
    font-size: 3dvw;
    margin: 0;
    font-weight: 600;
}

.entrarcontato > div > h2 {
    color: var(--off-white);
    font-size: 2dvw;
    margin: 0;
    font-weight: 200;
}

.infos {
    width: 100%;
    display: flex;
}

.leftinfos {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}

.leftinfos > input {
    height: 60px;
    background-color: transparent;
    border: none;
    color: var(--off-white);
    border-bottom: 1px solid var(--off-white);
    outline: none;
    font-size: 1.5dvw;
    font-weight: 200;
    margin-top: 40px;
}

.rightinfos {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.rightinfos > input {
    height: 60px;
    background-color: transparent;
    border: none;
    color: var(--off-white);
    border-bottom: 1px solid var(--off-white);
    outline: none;
    font-size: 1.5dvw;
    font-weight: 200;
    margin-top: 40px;
}

.mensagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mensagem > input {
    width: 99.5%;
    height: 60px;
    background-color: transparent;
    border: none;
    color: var(--off-white);
    border-bottom: 1px solid var(--off-white);
    outline: none;
    font-size: 1.5dvw;
    font-weight: 200;
    margin-top: 40px;
}

.mensagem > button {
    width: 150px;
    height: 60px;
    margin-top: 45px;
    border: none;
    outline: none;
    background-color: var(--off-white);
    color: var(--bright-purple);
    font-size: 20pt;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
}

.mensagem > button:hover {
    background-color: var(--dark-purple);
    color: var(--off-white);
}

footer {
    width: 125%;
    height: 600px;
    background-color: var(--black);
    margin-top: -100px;
}

@media screen and (max-width: 900px) {
    .feed {
        width: 80vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .navbar {
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }
    
    .navbar > button > svg {
        margin: 0;
        margin-top: -30px;
        color: var(--off-white);
        width: 100px;
        fill: var(--off-white);
        transition: all 0.2s ease-in-out;
        background: radial-gradient(circle at center, var(--offwhite) 0%, transparent 0%);
    }
    
    .navbar > button > svg:hover {
        fill: var(--grey);
    }
    
    .navbar > button {
        margin: 20px;
        border: none;
        outline: none;
        font-size: 18pt;
        cursor: pointer;
    }
    
    .menu {
        position: absolute;
        color: var(--off-white);
        background-color: transparent;
        transition: all 0.2s ease-in-out;
    }

    #sessoes {
        visibility: hidden;
    }
    
    .menu:hover {
        color: var(--grey)
    }
    
    .contato {
        width: 120px;
        height: 50px;
        border-radius: 25px;
        background-color: var(--off-white);
        color: var(--bright-purple);
        transition: all 0.2s ease-in-out;
        visibility: hidden;
    }
    
    .contato:hover {
        background-color: var(--dark-purple);
        color: var(--off-white);
    }
    
    .home {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .leftHome {
        width: 100%;
        height: 600px;
        margin-top: -230px;
        margin-bottom: -50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .leftHome > h1 {
        font-size: 14dvw;
        padding-right: 0;
        text-align: center;
        margin-top: -20px;
        margin: 0;
        margin-bottom: 0px;
        line-height: 80px;
        color: var(--off-white);
        letter-spacing: -2px;
        word-spacing: -2px;
    }
    
    .leftHome > h4 {
        font-size: 18pt;
        font-weight: 200;
        padding-right: 0;
        text-align: center;
        margin: 0;
        color: var(--off-white);
    }
    
    .rightHome {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rightHome > img {
        width: 250px;
        margin-bottom: 50px;
    }
    
    .fazemos{
        width: 125%;
        height: 1000px;
        margin-top: 0;
        background-color: var(--off-white);
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .leftfazemos {
        margin-top: -300px;
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    
    .leftfazemos > h1 {
        font-size: 60px;
        color: var(--bright-purple);
        font-weight: 400;
        margin: 0;
    }
    .leftfazemos > h2 {
        font-size: 60px;
        color: var(--bright-purple);
        font-weight: 600;
        margin: 0;
    }
    
    .rightfazemos {
        margin-top: -70px;
        max-width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:start;
    }
    
    .opcoes {
        max-width: 100%;
        display: flex;
        margin: 0;
    }
    
    .opcoes:hover > p {
        color: var(--dark-purple)
    }
    
    .opcoes:hover > button {
        transform: translateX(260px)
    }
    
    .opcoes > p {
        color: var(--grey);
        font-size: 20pt;
        font-weight: 200;
        margin-bottom: 20px;
        margin-top: 20px;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
    }
    
    .opcoes > button {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        align-self: center;
        position: absolute;
        transition: all 0.1s ease-in-out;
        transform: translateX(250px);
    }
    
    .opcoes > button > svg {
        width: 30px;
        height: 30px;
        color: var(--dark-purple);
    }
    
    .rightfazemos > hr {
        margin: 0;
        width: 280px;
        color: var(--dark-purple);
    }
    
    .cases {
        width: 125%;
        height: 1000px;
        margin-top: -250px;
        background-color: var(--bright-purple);
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .leftcases {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        margin-top: -120px;
        padding-left: 0;
    }
    
    .leftcases > p {
        color: var(--off-white);
        margin: 0;
    }
    
    .leftcases > h1 {
        color: var(--off-white);
        font-size: 60pt;
        margin: 0;
        font-weight: 600;
    }
    
    .rightcases {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-top: -500px;
    }
    
    .case1 {
        width: 200px;
        height: 200px;
        background-color: #290069;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
        transform: translate(50px,40px);
        transition: all 0.2s ease-in-out;
        position: absolute;
        justify-content: end;
    }
    
    .case2 {
        width: 200px;
        height: 200px;
        background-color: #290069;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
        transform: translate(25px,-40px);
        transition: all 0.2s ease-in-out;
        position: absolute;
        justify-content: end;
    }
    
    .case3 {
        width: 200px;
        height: 200px;
        background-color: #290069;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
        transform: translate(-10px,0px);
        transition: all 0.2s ease-in-out;
        position: absolute;
        justify-content: end;
    }
    
    .case4 {
        width: 200px;
        height: 200px;
        background-color: #290069;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-left: 0;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
        transform: translate(-50px,-80px);
        transition: all 0.2s ease-in-out;
        position: absolute;
    }
    
    .case4:hover {
        width: 210px;
        height: 210px;
    }
    
    .case4 > h2 {
        padding-left: 10px;
        color: var(--off-white);
        font-weight: 400;
        margin: 0;
        font-size: 10px;
    }
    
    .case4 > h1 {
        padding-left: 10px;
        padding-bottom: 10px;
        color: var(--off-white);
        font-weight: 600;
        margin: 0;
        font-size: 20px;
    }
    
    .case3:hover {
        width: 210px;
        height: 210px;
        z-index: 1;
    }
    
    .case3 > h2 {
        padding-left: 10px;
        color: var(--off-white);
        font-weight: 400;
        margin: 0;
        font-size: 10px;
    }
    
    .case3 > h1 {
        padding-left: 10px;
        padding-bottom: 10px;
        color: var(--off-white);
        font-weight: 600;
        margin: 0;
        font-size: 20px;
    }
    
    .case2:hover {
        width: 210px;
        height: 210px;
        z-index: 1;
    }
    
    .case2 > h2 {
        padding-left: 10px;
        color: var(--off-white);
        font-weight: 400;
        margin: 0;
        font-size: 10px;
    }
    
    .case2 > h1 {
        padding-left: 10px;
        padding-bottom: 10px;
        color: var(--off-white);
        font-weight: 600;
        margin: 0;
        font-size: 20px;
    }
    
    .case1:hover {
        width: 210px;
        height: 210px;
        z-index: 1;
    }
    
    .case1 > h2 {
        padding-left: 10px;
        color: var(--off-white);
        font-weight: 400;
        margin: 0;
        font-size: 10px;
    }
    
    .case1 > h1 {
        padding-left: 10px;
        padding-bottom: 10px;
        color: var(--off-white);
        font-weight: 600;
        margin: 0;
        font-size: 20px;
    }
    
    .marcas {
        width: 125%;
        height: 700px;
        margin-top: -250px;
        background-color: var(--off-white);
        border-radius: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .leftmarcas {
        width: 40%;
        height: 600px;
        margin-top: -300px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
    }
    
    .rightmarcas {
        width: 100%;
        height: 400px;
        margin-top: -250px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    
    .rightmarcas > div > div {
        margin: 10px;
        width: 100px;
        height: 100px;
        background-color: var(--grey);
    }
    
    .leftmarcas > h1 {
        color: var(--bright-purple);
        font-size: 50pt;
        margin-top: -100px;
        margin-bottom: 20px;
        margin: 0;
        font-weight: 400;
    }
    
    .scrollmenu {
        transform: translate(140vh,40vh);
        position: fixed;
    }
    
    .scroll {
        width: 10px;
        height: 25px;
        background-color: var(--dark-purple);
        position: fixed;
        border-radius: 5px;
        transform: translate(140vh,40vh);
        transition: all 0.3s ease-in-out;
    }
    
    .scrollmenu > div {
        margin: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--dark-purple);
    }
}