<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTF Agency</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="scrollmenu">
        <div id="point"></div>
        <div id="point"></div>
        <div id="point"></div>
        <div id="point"></div>
        <div id="point"></div>
        <div id="point"></div>
    </div>
    <div id="scroll" class="scroll"></div>
    <div class="feed">
        
        <div class="navbar">
            <button class="menu"><svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve">
                <g>
                    <path class="st23" d="M694.03,539.53l-91.82-0.15l-70.38-259.72h63.51c16.47,0,30.89,11.02,35.22,26.91L694.03,539.53z"/>
                    <path class="st23" d="M741.37,713.3h-63.82c-16.65,0-31.23-11.16-35.59-27.23l-15.71-57.96l91.92,0.03L741.37,713.3z"/>
                    <path class="st23" d="M718.17,628.13l-91.92-0.03l-100.77-0.04l16.8-61.58c4.38-16.06,18.98-27.2,35.64-27.16l24.3,0.05l91.82,0.15
                        L718.17,628.13z"/>
                    <path class="st23" d="M437.44,778.7l134.62-499.06h-91.4L338.02,805.93h63.83C418.5,805.93,433.09,794.77,437.44,778.7z"/>
                </g>
                </svg>
                </button>
            <button id="sessoes" class="menu">Home</button>
            <button id="sessoes" class="menu">Cases</button>
            <button id="sessoes" class="menu">Opção 1</button>
            <button id="sessoes" class="menu">Opção 2</button>
            <button id="sessoes" class="contato">Contato</button>
        </div>
        <div class="home">
            <div class="leftHome">
                <h1>
                    Respirando o esporte
                </h1>
                <h4>
                    A 1ª agência full-service 100% focada em esporte e entretenimento no país.
                </h4>
            </div>
            <div class="rightHome">
                <img src="./static/asset.png" alt="squareAsset">
            </div>
        </div>
        <div class="fazemos">
            <div class="leftfazemos">
                <h1 id="fazemos">O que</h1> 
                <h2>fazemos</h2>
            </div>
            <div class="rightfazemos">
                <div class="opcoes">
                    <p>Planejamento</p>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg></button>
                </div>
                <hr>
                <div class="opcoes">
                    <p>Branding</p>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg></button>
                </div>
                <hr>
                <div class="opcoes">
                    <p>Media</p>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg></button>
                </div>
                <hr>
                <div class="opcoes">
                    <p>Business Strategy</p>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg></button>
                </div>
                <hr>
                <div class="opcoes">
                    <p>Always-On</p>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg></button>
                </div>
                <hr>
                <div class="opcoes">
                    <p>Ativação</p>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg></button>
                </div>
                <hr>
                
            </div>
        </div>
        <div class="cases">
            <div class="leftcases">
                <p>Outfield Agency</p>
                <h1>Cases</h1>
            </div>
            <div class="rightcases">
                <div class="case1">
                    <h2>CBDN</h2>
                    <h1>Id Visual Jaque Mourão</h1>
                </div>
                <div class="case2">
                    <h2>CBDN</h2>
                    <h1>Id Visual Jaque Mourão</h1>
                </div>
                <div class="case3">
                    <h2>CBDN</h2>
                    <h1>Id Visual Jaque Mourão</h1>
                </div>
                <div class="case4">
                    <h2>CBDN</h2>
                    <h1>Id Visual Jaque Mourão</h1>
                </div>
            </div>
        </div>
        <div class="marcas">
            <div class="leftmarcas">
                <h1>Marcas</h1>
            </div>
            <div class="rightmarcas">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="entrarcontato">
            <div>
                <h1>Entre em contato</h1>
                <h2>Chamada maneirinha vem aqui</h1>
                <div class="infos">
                    <div class="leftinfos">
                        <input type="text" placeholder="Nome">
                        <input type="text" placeholder="E-mail">
                    </div>
                    <div class="rightinfos">
                        <input type="text" placeholder="Sobrenome">
                        <input type="text" placeholder="Empresa">
                    </div>
                </div>
                <div class="mensagem">
                    <input type="text" placeholder="Mensagem">
                    <button>Enviar</button>
                </div>
            </div>
        </div>
        <footer>
        
        </footer>
    </div>
    
    <script src="./static/script.js"></script>
</body>
</html>